<div ng-controller="createcontactCtrl" align="center">
	<div class="panel panel-default" style="width:700px;height:220px;">
			<div class="panel-heading" style="height:50px">
			<center><h4><span style="color:white;">Contact Details</span></h4></center>
			</div>
  			<div class="panel-body" style="background-color: #F8F8F8 ">
  			
				<form name="contactform">  			
  				<div class="row" style="padding-bottom: 5px;">
						<div class="col-md-1"><label class="lbl">&nbsp;&nbsp;&nbsp;&nbsp;First Name: <b class="mandatory-field">*</b></label></div>
						<div class="col-md-2" class="col-xs-2">
								<input class="naga-text-box-custom" style="width:150px!important" type="text" ng-model="contact.firstname"  id="name" required>
                        </div>
                </div>     
                 <div class="row"  style="padding-bottom: 5px;">
						<div class="col-md-1"><label class="lbl">Last Name: <b class="mandatory-field">*</b></label></div>
						<div class="col-md-2" class="col-xs-2">
								<input class="naga-text-box-custom" style="width:150px!important"  type="text" placeholder="Enter contact person" ng-model="contact.lastname"  id="pontOfContact" required>
                        </div>
			     </div> 
				<div class="row" style="padding-bottom: 5px;">
						<div class="col-md-1"><label class="lbl">&nbsp;&nbsp;&nbsp;&nbsp;Email:<b class="mandatory-field">*</b> </label></div>
						<div class="col-md-2" class="col-xs-2"> <input class="naga-text-box-custom" style="width:150px!important" type="text" placeholder="Enter contact" ng-model="contact.email" id="contact" required>
				</div>
				
				<div class="row" style="padding-bottom: 5px;">
					<div align="right" class="control-group">
						<div class="col-md-1"></div>
						<div class="col-md-2"></div>
						<div class="col-md-3"><button type="button" class="btn btn-primary" ng-click="saveContact(contact)" ng-disabled="contactform.$invalid">SAVE</button></div> 
						<div class="col-md-2"><button type="button" class="btn btn-primary" ng-click="cancelContact()">CANCEL</button></div>
						
					</div>
				</div>
				</form>
			</div>
	</div>
</div>