<!DOCTYPE html>
<html ng-app="Messages">

<head>
<meta charset="utf-8" />
<title>Nisum Drop Box App</title>
<meta charset="UTF-8">
<title>Nisum Drop Box App</title>
<base href="/messages/" />
<!-- Bootstrap Core CSS -->
<link rel="styleSheet"
	href="http://ui-grid.info/release/ui-grid.min.css" />
<link rel="styleSheet" href="css/style-grid.css" />
<link data-require="bootstrap-css@3.1.1" data-semver="3.1.1"
	rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
<script data-require="ui-bootstrap@0.13.3" data-semver="0.13.3"
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
<script src="http://ui-grid.info/release/ui-grid.js"></script>
<link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css"
	type="text/css" />
<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}
</style>
<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<!-- Mail Resources -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
<script src="lib/angular-ui-select/dist/select.js"></script>
<link rel="stylesheet" href="lib/angular-ui-select/dist/select.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">

<script type="text/javascript" src="js/trash/viewTrashMessage.js"></script>
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css"
	href="lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="lib/ng-tags-input/ng-tags-input.css">

<!-- JS -->
<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript"
	src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/angular/angular.min.js"></script>
<script src="lib/ng-tags-input/ng-tags-input.js"></script>

</head>

<body>
	<div class="container" ng-controller="myCtrl">
		<link rel='stylesheet prefetch'
			href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
		<div class="mail-box">
			<aside class="sm-side">
				<div class="user-head">
					<a class="inbox-avatar" href="javascript:;"> <img width="64"
						hieght="60"
						src="http://bootsnipp.com/img/avatars/ebeb306fd7ec11ab68cbcaa34282158bd80361a7.jpg">
					</a>
					<div class="user-name">
						<h5>
							<a href="#">Venugopal</a>
						</h5>
						<span><a href="#">Vmeesala@Nisum.com</a></span>
					</div>
					<!-- <a class="mail-dropdown pull-right" href="javascript:;"> <i
						class="fa fa-chevron-down"></i>
					</a> -->
				</div>
				<div class="inbox-body">
					<a href="#myModal" data-toggle="modal" title="Compose"
						class="btn btn-compose"> Compose </a>

					<ul class="inbox-nav inbox-divider">
						<li><a href="index.html"><i class="fa fa-inbox"></i>
								Messages </a></li>

						<li><a href="archieved.html"><i class="fa fa-bookmark-o"></i>
								Archieved</a></li>

						<li><a href="trash.html"><i class=" fa fa-trash-o"></i>
								Trash</a></li>
					</ul>
					<!-- Modal -->
					<div aria-hidden="true" aria-labelledby="myModalLabel"
						role="dialog" tabindex="-1" id="myModal" class="modal fade"
						style="display: none;">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button aria-hidden="true" data-dismiss="modal" class="close"
										type="button">×</button>
									<h4 class="modal-title">Compose</h4>
								</div>
								<div class="modal-body">

									<form role="form" class="form-horizontal">
										<div class="form-group">
											<label class="col-lg-2 control-label">To</label>
											<div class="col-lg-10">
												<!-- <input type="text" placeholder="" id="inputEmail1" class="form-control" ng-model="mail.recipient"> -->
												<ui-select multiple tagging="tagTransform"
													tagging-label="new tag"
													ng-model="multipleDemo.selectedPeople" theme="select2"
													ng-disabled="disabled" style="width: 468px;"> <ui-select-match
													placeholder="Select person...">{{$item.emailId}}&gt;</ui-select-match>
												<ui-select-choices
													repeat="person in people | propsFilter: {firstName: $select.search}">
												<div
													ng-bind-html="person.firstName+' '+person.lastName | highlight: $select.search"></div>
												<small> email: {{person.emailId}} </small> </ui-select-choices> </ui-select>
											</div>
										</div>
										<!-- <div class="form-group">
                                                  <label class="col-lg-2 control-label">Cc / Bcc</label>
                                                  <div class="col-lg-10">
                                                      <input type="text" placeholder="" id="cc" class="form-control">
                                                  </div>
                                              </div> -->
										<div class="form-group">
											<label class="col-lg-2 control-label">Subject</label>
											<div class="col-lg-10">
												<input type="text" placeholder="" id="inputPassword1"
													class="form-control" ng-model="mail.subject">
											</div>
										</div>
										<div class="form-group">
											<label class="col-lg-2 control-label">Message</label>
											<div class="col-lg-10">
												<textarea rows="10" cols="30" class="form-control" id=""
													name="" ng-model="mail.body"></textarea>
											</div>
										</div>

										<div class="form-group">
											<div class="col-lg-offset-2 col-lg-10">
												<!-- <span class="btn green fileinput-button">
                                                        <i class="fa fa-plus fa fa-white"></i>
                                                        <span>Attachment</span>
                                                        <input type="file" name="files[]" multiple="">
                                                      </span> -->
												<button class="btn btn-send" type="submit"
													ng-click="sendMail(mail)" data-dismiss="modal">Send</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /.modal -->
				</div>



				<div class="inbox-body text-center">
					<div class="btn-group">
						<a class="btn mini btn-primary" href="javascript:;"> <i
							class="fa fa-plus"></i>
						</a>
					</div>
					<div class="btn-group">
						<a class="btn mini btn-success" href="javascript:;"> <i
							class="fa fa-phone"></i>
						</a>
					</div>
					<div class="btn-group">
						<a class="btn mini btn-info" href="javascript:;"> <i
							class="fa fa-cog"></i>
						</a>
					</div>
				</div>

			</aside>
			<aside class="lg-side">
				<div class="inbox-head">
					<h3>Trash Messages</h3>
					<!-- <form action="#" class="pull-right position">
						<div class="input-append">
							<input type="text" class="sr-input" placeholder="Search Messages">
							<button class="btn sr-btn" type="button">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</form> -->
				</div>
				<div class="inbox-body">
					<div ng-controller="getTrMessagesCtrl as vtm">

						<!-- <h2 style="margin-left: 220px;">View Messages</h2> -->
						<br />
						<div id="serviceGridtrash" ui-grid-move-columns ui-grid-pagination
							ui-grid-selection ui-grid-resize-columns ui-grid-pinning
							ui-grid-exporter ui-grid-auto-resize ui-grid-pagination
							ui-grid-edit ui-grid="vtm.serviceGridtrash" class="influxGrid"
							style="height: 300px;"></div>

					</div>


				</div>
			</aside>
		</div>
	</div>



	<!-- <script>
angular.module('myApp', ['ngTagsInput'])
    .controller('myCtrl', function($scope, $http) {
        $scope.tags = [
            { text: 'vmeesala@nisum.com' },
            { text: 'skaranam@nisum.com' },
            { text: 'javeed@nisum.com' }
        ];
        $scope.loadTags = function(query) {
             return $http.get('/tags?query=' + query);
        };
    });
</script> -->

</body>

</html>
