<form name="forgotPassword">
<div class="modal-header">
<h3 class="modal-title">Forgot Password</h3>
</div>
<div class="modal-body">
<div ng-show="success"> Password Reset Link has been sent to ur mail Id {{email}} </div>
<div ng-show="!success">
<div ng-show="forgotError">{{error}}</div>
<p>
      Please Enter Email and user name for password Reset <br>
<label>Email Id : </label>&nbsp;&nbsp;<input type ="email" name="email" ng-model = "email" required></input>
<span ng-show="(forgotPassword.email.$dirty || submitted) && forgotPassword.email.$error.required">
      Email is required
    </span>
    <span ng-show="(forgotPassword.email.$dirty || submitted) && forgotPassword.email.$error.email">
      Invalid Email
    </span><br>
</p>
</div>
<div>
</div>
</div>
<div class="modal-footer">
<button class="btn btn-primary" type="button" ng-disabled="success"
ng-click="reset(email,userName)">ResetPassword</button>
<button class="btn btn-warning" type="button"
ng-click="close()">Close</button>
</div>
</form>
