<html>
    <body>
        <div>
           <h3> Hi ${user},</h3> <br>
           <p>
            Click the link below and you'll be redirected to a page from which you can set a new password.<br>
             <a href="${message}">ResetLink</a>.
             <p>
        </div>
    </body>
</html>