$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



/**
 * @Directive [customContextMenu]
 * Styles for context menu dropdown that is visible on right click and 
 * is appended to the body end. 
 */
.custom-context-menu {
    @extend .dropdown-menu;
      position: fixed;
      top: 10px;
      left: 10px;
      z-index: 9999;
      background: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(61,70,77,0.1);
    
    padding: 9px 15px;
    z-index: 9999;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    left: 515px;
    top: 171px;
    text-decoration: none;
        cursor: pointer;
        line-height: 20px;
    padding: 10px 12px;
    width: 168px;

    &.shown {
        display: block;
    }
ul {
  list-style-type: none !important;
}
    li {
        cursor: pointer;
       
    }
    
    
}

.context-caret {

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 10px solid #fff;
        z-index: 2;
    }

    &:after {
        border-bottom-color:#bbb;
        z-index: 1;
    }

    &-top-left {
          margin: 10px 0 0 -28px;

        &:before {
            left: 20px;
            top: -10px;
        }

        &:after {
            left: 20px;
            top: -11px;
        }
    }

    &-top-right {
        margin: 10px 0 0 18px;

        &:before {
            left: calc(100% - 26px);
            top: -10px;
        }

        &:after {
            left: calc(100% - 26px);
            top: -11px;
        }
    }

    &-bottom-left {
        margin: -7px 0 0 -29px;

        &:before {
            left: 20px;
            top: calc(100%);
            border-bottom-color: transparent;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-top: 10px solid #fff;
        }

        &:after {
            left: 20px;
            top: calc(100% + 1px);
            border-bottom-color: transparent;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-top: 10px solid #bbb;
        }
    }


    &-bottom-right {
        margin: -7px 0 0 18px;

        &:before {
            left: calc(100% - 26px);
            top: calc(100%);
            border-bottom-color: transparent;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-top: 10px solid #fff;
        }

        &:after {
            left: calc(100% - 26px);
            top: calc(100% + 1px);
            border-bottom-color: transparent;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-top: 10px solid #bbb;
        }
    }

}


.twrap {
    max-height: 400px;
    overflow: auto;
}

ul {
	list-style-type: none !important;
}

#overlay {
	position: fixed;
	left: 25%;
	top: 25%;
	padding: 25px;
	border: 2px solid black;
	background-color: #ffffff;
	width: 50%;
	height: 50%;
	z-index: 100;
}

#fade {
	position: fixed;
	left: 0%;
	top: 0%;
	background-color: black;
	-moz-opacity: 0.7;
	opacity: .70;
	filter: alpha(opacity = 70);
	width: 100%;
	height: 100%;
	z-index: 90;
}

#custom-modal.ng-enter {
	transition: opacity .5s ease-out;
	opacity: 0;
}

#custom-modal.ng-enter.ng-enter-active {
	opacity: 1;
}

#custom-modal.ng-leave {
	transition: opacity .5s ease-out;
	opacity: 1;
}

#custom-modal.ng-leave.ng-leave-active {
	opacity: 0;
}

